.navBar {
  position: fixed;
  width: 100%;
  background: #00000069;
  height: 90px;
  z-index: 100;
}

#header-logo {
  float: left;
  width: 117px;
  height: auto;
  padding-top: 12px;
  padding-left: 28px;
}

#pageLinks a:first-of-type {
  margin-left: 35px;
}

#pageLinks a {
  float: left;
  padding: 35px 35px;
  text-decoration: none;
  font-family: Helvetica;
  color: #ffffff;
  font-size: 110%;
}

.socialMedia:first-of-type {
  margin-right: 24px;
}

.socialMedia {
  color: rgb(255, 255, 255);
  float: right;
  padding: 33px 0px;
  width: 1.5%;
  height: auto;
  z-index: 90;  
}

#alert {
  z-index: 100;
  position: fixed;
  margin: 94px 0px 0px 1400px;
}