#noMatch {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: url('https://images.unsplash.com/photo-1532469342119-c1ac6eb66912?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3400&q=80');
}

#noMatch:first-child {
  margin-left: -15px;
}

.paddingLeft {
  margin-left: 100px !important;
}

a {
  text-align: center;
}

.iconStyle {
  color: rgb(236, 0, 110)
}